  body {
    margin: 0;
    height: 200vh;
    font-family: "Lato", sans-serif;
    background-color:whitesmoke;

    background-image: url('https://cdn.discordapp.com/attachments/445458806571270145/885068376576233512/163108641354515917_1.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 30px;
  }

  div.main {
    margin-left: 525px;
  }
  
