  /* The main stylesheet containing all the settings for the main screen of the pages */

  body {
    margin: 0;
    height: 200vh;
    font-family: "Lato", sans-serif;
    background-color:whitesmoke;
  }

  /* Margins the text to the right, so the background imagery and sidebar are visible */ 
  div.main {
    margin-left: 550px;
  }
  
  /* All h2 font sizes needed to be just a little bigger */
  h2 {
    font-size: 32px;
  }

 